---
layout: default
---

<div class="container-fluid">

  <div class="container">
  <div class="row">
    <div class="col-4">
      <img style="-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; width: 100%;" src="/misc/me6.jpg">
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <h1>Lei Xu (徐 磊)</h1>
      <p>Ph.D. in Computer Science, MIT<br>
      Applied Scientist at Amazon AWS<br>
      Email: 
      <a href="mailto:leix328@gmail.com?Subject=Via%20Homepage:">leix328@gmail.com</a><br><br/>
      <!-- <a href="/misc/cv.pdf">[CV]</a>  -->
      <a href="/pub" target="_blank">[Publications]</a>
      <br><br>
      <a href="https://github.com/{{ include.username }}"><img width="32px" height="32px" src="/misc/github.png"></img></a>
      <a href="https://scholar.google.com/citations?user=lkF92IsAAAAJ&hl=en"><img width="32px" height="32px" src="/misc/gscholar.png"></img></a>
      <a href="https://www.linkedin.com/in/lei-xu-b78238a4/"><img width="32px" height="32px" src="/misc/linkedin.png"></img></a>
      <a href="https://twitter.com/XuLeonard"><img width="32px" height="32px" src="/misc/twitter.png"></img></a>
      </p>
    </div>
  </div>
  </div>


  <div class="container" style="padding-top: 20px;">
  {{ content }}    
  </div>


</div>
