---
layout: default
---

<div class="home">
  <img src="/images/me.jpg" width="180">
  <h1 class="page-heading">About</h1>
  <div>
    <p>I am an undergraduate student at Department of Computer Science and Technology, Tsinghua University, Beijing. </p>

    <p>I am interested in Deep Learning, especially deep learning applications on Natural Language Processing (NLP), Computer Vision (CV), and Reinforcement Learning (RL). I am working closely with Professor <a href="http://nlp.csai.tsinghua.edu.cn/~lzy/index.html">Zhiyuan Liu</a> on text summarization. I worked with Professor <a href="http://www.zicokolter.com">J. Zico Kolter</a> on Deep RL on summer, 2016. </p>

    <p>You can contact me through leonard.xu.thu [at] Gmail. </p>
  </div>

  <h1 class="page-heading" style="padding-top:3ex">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
